
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i|Poppins:300,400,500,600,700');

$anonpro: 'Anonymous Pro', monospace;
$poppins: 'Poppins', sans-serif;
$logo-blue: #AEB5BD;
$logo-purple: #4D51A2;
$logo-yellow: #EAD8B7;
$bg-gray: #E6E7E8;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*---------------------------------------------------------
# TOAST FRAMEWORK
----------------------------------------------------------*/
.grid {
  list-style: none;
  margin-left: -20px; }

.grid__col--2-of-2, .grid__col--3-of-3, .grid__col--4-of-4, .grid__col--5-of-5, .grid__col--6-of-6, .grid__col--8-of-8, .grid__col--12-of-12 {
  width: 100%; }

.grid__col--1-of-2, .grid__col--2-of-4, .grid__col--3-of-6, .grid__col--4-of-8, .grid__col--6-of-12 {
  width: 50%; }

.grid__col--1-of-3, .grid__col--2-of-6, .grid__col--4-of-12 {
  width: 33.33333%; }

.grid__col--2-of-3, .grid__col--4-of-6, .grid__col--8-of-12 {
  width: 66.66667%; }

.grid__col--1-of-4, .grid__col--2-of-8, .grid__col--3-of-12 {
  width: 25%; }

.grid__col--3-of-4, .grid__col--6-of-8, .grid__col--9-of-12 {
  width: 75%; }

.grid__col--push-2-of-2, .grid__col--push-3-of-3, .grid__col--push-4-of-4, .grid__col--push-5-of-5, .grid__col--push-6-of-6, .grid__col--push-8-of-8, .grid__col--push-12-of-12 {
  margin-left: 100%; }

.grid__col--push-1-of-2, .grid__col--push-2-of-4, .grid__col--push-3-of-6, .grid__col--push-4-of-8, .grid__col--push-6-of-12 {
  margin-left: 50%; }

.grid__col--push-1-of-3, .grid__col--push-2-of-6, .grid__col--push-4-of-12 {
  margin-left: 33.33333%; }

.grid__col--push-2-of-3, .grid__col--push-4-of-6, .grid__col--push-8-of-12 {
  margin-left: 66.66667%; }

.grid__col--push-1-of-4, .grid__col--push-2-of-8, .grid__col--push-3-of-12 {
  margin-left: 25%; }

.grid__col--push-3-of-4, .grid__col--push-6-of-8, .grid__col--push-9-of-12 {
  margin-left: 75%; }

.grid__col--pull-2-of-2, .grid__col--pull-3-of-3, .grid__col--pull-4-of-4, .grid__col--pull-5-of-5, .grid__col--pull-6-of-6, .grid__col--pull-8-of-8, .grid__col--pull-12-of-12 {
  margin-left: -100%; }

.grid__col--pull-1-of-2, .grid__col--pull-2-of-4, .grid__col--pull-3-of-6, .grid__col--pull-4-of-8, .grid__col--pull-6-of-12 {
  margin-left: -50%; }

.grid__col--pull-1-of-3, .grid__col--pull-2-of-6, .grid__col--pull-4-of-12 {
  margin-left: -33.33333%; }

.grid__col--pull-2-of-3, .grid__col--pull-4-of-6, .grid__col--pull-8-of-12 {
  margin-left: -66.66667%; }

.grid__col--pull-1-of-4, .grid__col--pull-2-of-8, .grid__col--pull-3-of-12 {
  margin-left: -25%; }

.grid__col--pull-3-of-4, .grid__col--pull-6-of-8, .grid__col--pull-9-of-12 {
  margin-left: -75%; }

.grid__col--1-of-5 {
  width: 20%; }

.grid__col--push-1-of-5 {
  margin-left: 20%; }

.grid__col--pull-1-of-5 {
  margin-left: -20%; }

.grid__col--2-of-5 {
  width: 40%; }

.grid__col--push-2-of-5 {
  margin-left: 40%; }

.grid__col--pull-2-of-5 {
  margin-left: -40%; }

.grid__col--3-of-5 {
  width: 60%; }

.grid__col--push-3-of-5 {
  margin-left: 60%; }

.grid__col--pull-3-of-5 {
  margin-left: -60%; }

.grid__col--4-of-5 {
  width: 80%; }

.grid__col--push-4-of-5 {
  margin-left: 80%; }

.grid__col--pull-4-of-5 {
  margin-left: -80%; }

.grid__col--1-of-6 {
  width: 16.66667%; }

.grid__col--push-1-of-6 {
  margin-left: 16.66667%; }

.grid__col--pull-1-of-6 {
  margin-left: -16.66667%; }

.grid__col--5-of-6 {
  width: 83.33333%; }

.grid__col--push-5-of-6 {
  margin-left: 83.33333%; }

.grid__col--pull-5-of-6 {
  margin-left: -83.33333%; }

.grid__col--1-of-8 {
  width: 12.5%; }

.grid__col--push-1-of-8 {
  margin-left: 12.5%; }

.grid__col--pull-1-of-8 {
  margin-left: -12.5%; }

.grid__col--3-of-8 {
  width: 37.5%; }

.grid__col--push-3-of-8 {
  margin-left: 37.5%; }

.grid__col--pull-3-of-8 {
  margin-left: -37.5%; }

.grid__col--5-of-8 {
  width: 62.5%; }

.grid__col--push-5-of-8 {
  margin-left: 62.5%; }

.grid__col--pull-5-of-8 {
  margin-left: -62.5%; }

.grid__col--7-of-8 {
  width: 87.5%; }

.grid__col--push-7-of-8 {
  margin-left: 87.5%; }

.grid__col--pull-7-of-8 {
  margin-left: -87.5%; }

.grid__col--1-of-12 {
  width: 8.33333%; }

.grid__col--push-1-of-12 {
  margin-left: 8.33333%; }

.grid__col--pull-1-of-12 {
  margin-left: -8.33333%; }

.grid__col--2-of-12 {
  width: 16.66667%; }

.grid__col--push-2-of-12 {
  margin-left: 16.66667%; }

.grid__col--pull-2-of-12 {
  margin-left: -16.66667%; }

.grid__col--5-of-12 {
  width: 41.66667%; }

.grid__col--push-5-of-12 {
  margin-left: 41.66667%; }

.grid__col--pull-5-of-12 {
  margin-left: -41.66667%; }

.grid__col--7-of-12 {
  width: 58.33333%; }

.grid__col--push-7-of-12 {
  margin-left: 58.33333%; }

.grid__col--pull-7-of-12 {
  margin-left: -58.33333%; }

.grid__col--10-of-12 {
  width: 83.33333%; }

.grid__col--push-10-of-12 {
  margin-left: 83.33333%; }

.grid__col--pull-10-of-12 {
  margin-left: -83.33333%; }

.grid__col--11-of-12 {
  width: 91.66667%; }

.grid__col--push-11-of-12 {
  margin-left: 91.66667%; }

.grid__col--pull-11-of-12 {
  margin-left: -91.66667%; }

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 700px) {
    .grid__col {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 700px) and (min-width: 480px) {
    .grid__col[class*="grid__col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--m-1-of-2, .grid__col.grid__col--m-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--m-1-of-3 {
      width: 33.33333%; }
    .grid__col.grid__col--m-2-of-3 {
      width: 66.66667%; }
    .grid__col.grid__col--m-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .grid__col[class*="grid__col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--s-1-of-2, .grid__col.grid__col--s-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--s-1-of-3 {
      width: 33.33333%; }
    .grid__col.grid__col--s-2-of-3 {
      width: 66.66667%; }
    .grid__col.grid__col--s-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--s-3-of-4 {
      width: 75%; } }

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.grid__col--d-first {
  float: left; }

.grid__col--d-last {
  float: right; }

.grid--no-gutter {
  margin-left: 0;
  width: 100%; }
  .grid--no-gutter .grid__col {
    padding-left: 0; }
  .grid--no-gutter .grid__col--span-all {
    margin-left: 0;
    width: 100%; }

.grid__col--ab {
  vertical-align: bottom; }

.grid__col--am {
  vertical-align: middle; }

/*# sourceMappingURL=grid.css.map */

/*---------------------------------------------------------
# SETUP
----------------------------------------------------------*/
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.content {
  padding: 50px 0px 50px 0px;
}


/*---------------------------------------------------------
# NAV 
----------------------------------------------------------*/

nav {
  background-color: white;
  width: 38%;
  height: 55px;
  margin: 0 auto;
  font-family: $anonpro;
/*  margin-bottom: 55px;*/

  ul {
    margin: 0;
    text-align: center;
    padding: 8px 0px 0px 0px;

  }

  li {
    display: inline-block;
    padding: 10px 10px 10px 10px;

    a {
      text-decoration: none;
      color: $logo-purple;
    }

    &:hover {
      /*border-bottom: 3px solid $logo-purple ;*/
      /*border-color: $logo-purple;*/
      text-decoration: none; 
      color: $logo-purple;

      .highlight {
        color: $logo-purple;
        background-size: 200% 50%;
      }
    }
  }
}

nav.main-menu {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

/*---------------------------------------------------------
# TYPOGRAPHY
----------------------------------------------------------*/
h1 {
  font-family: $poppins;
  font-weight: normal;
}

h2 {
  font-family: $poppins;
  font-weight: semi-bold;
}

h3 {
  font-family: $poppins;
  font-weight: normal;
}

p {
  font-family: $anonpro;
}

a {
  color: $logo-purple;
  text-decoration: none;
  background-image: linear-gradient(to right, transparent 50%, $logo-yellow 50%);
  background-origin: 0;
  background-size: 0% 52%;
  background-repeat: repeat-x;
  background-position: -100% 100%;

  &:hover {   
    color: $logo-blue;
    cursor: pointer;
    background-size: 200% 52%;
  }
}

.section-title {
  padding-bottom: 30px;
  text-align: center;

  h2 {
    text-transform: uppercase;
  }

  .squiggle {
    margin: 0 auto;
    display: block;
    width: 20px;
  }
}

button {
  font-family: $anonpro;
  font-size: 15px;
  background-color: white;
  text-align: center;
  padding: 10px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid $bg-gray;

  &:hover {
    border-bottom: 2px solid $logo-purple;
    cursor: pointer;
  }
}

.bold {
  font-weight: bold;
}

.highlight {
  background-image: linear-gradient(to right, transparent 50%, $logo-yellow 50%);
  background-origin: 0;
  background-size: 0% 52%;
  background-repeat: repeat-x;
  background-position: -100% 100%;
}



/*---------------------------------------------------------
# HOME PAGE
----------------------------------------------------------*/
body {
  background-color: $bg-gray;
}

.header {
  padding-top: 50px;
  text-align: center;
  text-decoration: none;
  padding-bottom: 30px;

  img {
    width: 45%;
    padding-top: 50px;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  p {
    margin-top: 0px;
    font-size: 25px;
  }
}

/*---------------------------------------------------------
# ABOUT
----------------------------------------------------------*/
.about {
  background-color: $logo-yellow;

  .content {
    padding: 0px;
    display: flex;
    align-items: center;
  }
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, white 66.666%, $logo-purple 33.333%);

  .text {
    flex: 1 auto;

    p {
      font-family: $poppins;
      color: $logo-purple;
      padding: 30px;
      margin: 80px;
      border: 5px solid $logo-purple;
      font-size: 20px;

      a.instalink {
        text-decoration: none;
        font-family: $anonpro;
      }

      a {
        color: $logo-blue;
      }
    }
  }

  .image {
    flex: 1 auto;
    padding: 80px;

    img {
      width: 100%;
    }
  }
}

.slide .text.grid__col {
  padding-left: 0px;
}

.arrow-left {
  color: $logo-yellow;
  position: absolute;
  left: 0%;
  padding-left: 25px;
  font-size: 50px;

}
.arrow-right {
  color: $logo-yellow;
  position: absolute;
  right: 0%;
  padding-right: 25px;
  font-size: 50px;
}

button.arrow {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
}

/*---------------------------------------------------------
# EXPERIENCE
----------------------------------------------------------*/

.experience {
    background-color: $logo-yellow;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      font-family: $poppins;
      font-size: 30px;
      font-weight: bold;
      color: $logo-purple;
    }

    h5 {
      font-size: 20px;
      font-family: $anonpro;
      color: $logo-purple;
    }

    .desktop {
      margin-top: 100px;
    }

    .mobile {
      margin-top: 50px;
    }

    .desktop, .mobile {
      padding-top: 0;
      width: 85%;
    }
  }

  .mobile {
    display: none;
  }

  .timeline-content {
    display: flex;
    justify-content: center;

    .entry {
      vertical-align: top;
      font-size: 12px;
      text-align: center;
      position: relative;
      border-radius: 3px;
      min-width: 200px;
      max-width: 260px;
    }
  }

  .entry h3 {
    margin-top: -70px;
  }

  .entry.lower h5 {
    margin-top: 190px;
  }

  .entry.below h5 {
    margin-top: 120px;
  }


  .timeline-content .entry::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid white;
    background-color: $logo-yellow;
    position: absolute;
    left: 43%;
    top: -18px;
  }

  .timeline-content .entry:nth-child(even)::after {
    content:'';
    display:block;
    width: 5px;
    height: 140px;
    position:absolute;
    left: 43%;
    top: 10px;
    margin-left: 12.5px;
    background-color: white;
  }

  .timeline-content .entry:nth-child(odd)::after {
    content:'';
    display:block;
    width: 5px;
    height: 70px;
    position:absolute;
    left: 43%;
    top: 10px;
    background-color: white;
    margin-left: 12.5px;
  }

  .timeline-content .entry h1 {
    color:#fff;
    font-size:18px;
    font-family:Georgia, serif;
    font-weight:bold;
    margin-bottom:10px;
  }

  .timeline-bar {
    height: 5px;
    background-color: white;
    width: 100%;
    position: relative;
    left: 0;
  }

  .timeline-content .entry p {
    text-align: left;
    display: none;
    background-color: $logo-blue;
    color: white;
    z-index: 3;
    position: absolute;
    width: 250px;
    font-size: 15px;
    border-radius: 10px;
    padding: 20px;
    left: -20px;
  }

  .timeline-content .entry.one:hover #timeline-1 {
    display: block;
    left: 40px;
  }

  .timeline-content .entry.two:hover #timeline-2 {
    display: block;
    left: -40px;
  }

  .timeline-content .entry.three:hover #timeline-3 {
    display: block;
  }

  .timeline-content .entry.four:hover #timeline-4 {
    display: block;
  }

  .timeline-content .entry.five:hover #timeline-5 {
    display: block;
  }

  .timeline-content .entry.six:hover #timeline-6 {
    display: block;
    left: -100px;
  }

  .timeline-content .entry.seven:hover #timeline-7 {
    display: block;
    left: -120px;
  }

.mobile {
  display: none;
  padding-right: 0px;

  .timeline-content {
    flex-direction: column;

    .mobile-entry {
      padding: 20px 20px 20px 40px;
      position: relative;
      margin-left: 20px;

      h3 {
        margin: 0px;
        font-weight: 500;
        font-size: 25px;
      }

      p {
        background-color: $logo-blue;
        border-radius: 10px;
        padding: 20px;
        color: white;
      }

      &::after {
        content: '';
        display: block;
        width: 5px;
        height: 105%;
        position: absolute;
        left: 0px;
        top: 25px;
        background-color: white;
      }

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 5px solid white;
        background-color: $logo-yellow;
        position: absolute;
        left: -12px;
        z-index: 1;
      }
    }

    .mobile-entry:nth-last-child(1)::after {
      display: none;
    }

    .mobile-entry.one {
      margin-bottom: 10px;
    }

    .mobile-entry.two {
      margin-bottom: 10px;
    }

    .mobile-entry.three {
      margin-bottom: 10px;
    }

    .mobile-entry.four {
      margin-bottom: 10px;
    }

    .mobile-entry.five {
      margin-bottom: 10px;
    }
  }
}



/*---------------------------------------------------------
# ACCENT PHOTO
----------------------------------------------------------*/
.accent-photo {
  background-image: url("../img/halfdome.JPG");
  background-size: cover;
  background-position: center bottom;
  height: 500px
}

/*---------------------------------------------------------
# PORTFOLIO
----------------------------------------------------------*/
.scale-anm {
  transform: scale(1);
}

.tags {
  margin-bottom: 50px;
  width: 100%;
  background-color: transparent;
  text-align: center;

  li {
    background-color: white;
  }
}

#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   -webkit-column-count: 3;
   -webkit-column-gap:   5px;
   -moz-column-count:    3;
   -moz-column-gap:      5px;
   column-count:         3;
   column-gap:           5px;
   column-fill:          balance;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 90% !important;
  /*height: auto !important;*/
  padding-bottom: 30px;
}

@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

#photos {

  .container {
    position: relative;
    width: 100%;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%)
  }

  .container:hover .image {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text a {
    font-family: $anonpro;
    background-color: $logo-purple;
    color: white;
    font-size: 16px;
    padding: 10px;
    text-align: center;

    &:hover {
      background-color: $logo-blue;
    }
  }
}

/*---------------------------------------------------------
# FEATURED
----------------------------------------------------------*/
.featured {

  h3 {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 0px;

    a {
      background-color: white;
      color: black;
      padding: 10px;

      &:hover {
        color: $logo-purple;
        background-size: 0% 52%;
      }
    }
  }

  .feature {
    display: flex;
    align-items: center;

    .image {
      padding-left: 10px;
      padding-right: 20px;

      .mobile-image {
        display: none;
      }
    }
    .text {
      padding-left: 20px;
      padding-right: 10px;
    }
  }

  .underline {
    text-decoration: underline;
  }
  
}

.featured.featured-1 {
  background-color: $logo-yellow;
}

.featured.featured-2 {
  background-color: #eedfc4;

  .feature {
    .desktop-image {
      width: 100%;
    }
  }
}



/*---------------------------------------------------------
# SERVICES
----------------------------------------------------------*/
.services {
  background-color: $logo-blue;


  .all-services {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;

    .service {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 40%;
      }

      h3 {
        text-align: center;
      }
    }

    .text {
      display: none;
      margin-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: white;

      p {
        text-align: justify;
      }
    }
  }

  .all-services-mobile {
    display: none;
  }

  .highlight {
    background-size: 200% 52%;
  }
}

.services .all-services .service.one:hover .text {
  display: block;
  transition: width 2s ease 1s;
}
.services .all-services .service.two:hover .text {
  display: block;
}
.services .all-services .service.three:hover .text {
  display: block;
}
.services .all-services .service.four:hover .text {
  display: block;
}


/*---------------------------------------------------------
# CONTACT
----------------------------------------------------------*/
.social-media {
  display: flex;
  justify-content: center;

  a {
    img {
      width: 30px;
      height: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }

    &:hover {
      background-size: 0% 50%;
    }
  }
}

/*---------------------------------------------------------
# FOOTER
----------------------------------------------------------*/
.footer {
  background-color: $logo-yellow;

  .content {
    padding: 10px;
  }

  p {
    margin: 0px;
    font-size: 12px;
    text-align: center;
  }
}


/*---------------------------------------------------------
# RESPONSIVE
----------------------------------------------------------*/

@media only screen and (max-width : 1280px) {
  nav {
    width: 50%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .timeline-content .entry {
    min-width: 180px;
    max-width: 180px;
  }

  .accent-photo {
    height: 400px;
  }

  .featured .wrapper {
    width: 90%;
  }
  .slide .text p {
    font-size: 15px;
  }
}

@media only screen and (max-width : 1080px) {
  .timeline-content .entry {
    min-width: 150px;
    max-width: 150px;
  }

  .entry.top h5 {
    margin-top: -275px;
  }

  .services .service .text p {
    font-size: 15px;
    text-align: left;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  nav {
    width: 80%;
  }

  .accent-photo {
    height: 300px;
  }

  #photos img {
    width: 100% !important;
    padding-bottom: 5px;
  }

  .featured .feature {
    flex-direction: column;

    .text {
      width: 90%;
    }

    .image {
      width: 90%;
      padding-bottom: 20px;

      iframe {
        display: none;
      }

      .mobile-image {
        display: block;
        width: 100%;
      }
    }
  }

  .featured h3 {
    a {
      font-size: 15px;
    }
  }

  .slide {
    .text {
      p {
        margin: 50px;
      }
    }
    .image {
      padding: 50px;
    }
  }

  .arrow-left {
    font-size: 30px;
    padding-left: 15px;
  }

  .arrow-right {
    font-size: 30px;
    padding-right: 15px;
  }

  .services .all-services {
    display: none;
  }

  .services .all-services-mobile {
    display: flex;
    flex-direction: column;

    .service {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 50px;

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          margin-top:10px;
        }

        img {
          width: 50%;
        }
      }

      .text {
        p {
          background-color: white;
          padding: 20px;
        }
      }
    }
  }

}

@media only screen and (max-width : 900px) {
   .experience { 
      height: 1800px;

      .desktop {
        display: none;
      }

      .mobile {
        display: block;
      }
  }

  .slide {
    flex-direction: column;
    background: linear-gradient(90deg, #4D51A2 66.666%, #4D51A2 33.333%);

    .text {
      p {
        color: white;
        border: 5px solid white;
      }
    }

    .image {
      padding: 0 0 50px 0;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  nav {
    width: 300px;
    height: 100px;
  }
  .header {
   padding-top: 100px;
  }

}

@media only screen and (max-width : 660px) {
  .services .all-services-mobile .service {
    flex-direction: column;

    .title {
      width: 60%;
    }

    .text {
      width: 90%;
    }
  }
}

@media only screen and (max-width : 600px) {
  .experience {
    height: 2000px;
  }

  .accent-photo {
    height: 200px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .experience {
    height: 2100px;
  }
  .header p {
    font-size: 15px;
  }
}

@media only screen and (max-width : 440px) {
  .experience {
    height: 2400px;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 380px) {
  .experience {
    height: 2800px;

    h3 {
      font-size: 18px;
    }
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .experience {
    height: 3200px;
  }
}










